<h1>Login</h1>

<%= form_with url: '/login', method: :post do |f| %>
    Username: <%= f.text_field :username %><br>
    Password: <%= f.password_field :password %><br>
    <%= f.submit "Submit" %>
  <% end %> 
  
<% if !logged_in? %>
    <%= button_to "Log In With Google", "/auth/google_oauth2" %>
    <% end %>


