<%= display_logo(@job) %><br><br>
<h1><%= @job.company %> </h1>
<h4><%= @job.title %></h4><br>
<%= button_to "Reviews About This Position", job_reviews_path(@job), :method => "get" %><br>
<% if @user_jobs.find_by(job_id: @job.id, user_id: current_user.id) %>
<% @user_job =  @user_jobs.find_by(job_id: @job.id, user_id: current_user.id)%>
<%= render :partial => "/user_jobs/edit", locals: {user_job: @user_job} %>
<% else %>
<% @user_job = UserJob.new %>
<%= render :partial => "/user_jobs/new", locals: {user_job: @user_job} %>
<% end %>

<h5><%= @job.posted_at %></h5>
<%= @job.title %><br>
<%= sanitized_description(@job) %>

<h4>Write A New Review About This Position</h4>
   <p> <%= form_for [@job, @review] do |r| %>
        <%= r.label :title %>
        <%= r.text_field :title %><br>
        <%= r.label :content %><br>
        <%= r.text_area :content %><br>
    <%= r.submit 'Create Review' %>
    <% end %></p>
    <h4>Reviews About This Position </h4>
    <% @reviews.reverse.each do |review| %>
        <% if review.id %>
            <%= link_to review.title, job_review_path(@job, review) %><br>
            <%= review.content %><br>
        <%if review.user %>
        Written by <b><%= review.user.username %></b><br>
        <%end %>
        <% end %>
        <% end %>
