<%= display_logo(@job) %><br><br>
<h1><%= @job.company %> </h1>
<h4><%= @job.title %></h4><br>
<h5><%= @job.posted_at %></h5>
<%= @job.title %><br>
<%= sanitized_description(@job) %>

<h3>Write A New Review About This Position</h3>
   <p> <%= form_for [@job, @review] do |r| %>
        <%= r.label :title %>
        <%= r.text_field :title %><br>
        <%= r.label :content %><br>
        <%= r.text_area :content %><br>
    <%= r.submit 'Create Review' %>
    <% end %></p>
    <h3>Reviews About This Position </h3>

    <p><% @reviews.each do |review| %>
        <%= review.title %>
        <%= review.content %><br>
        <% end %><p>
