<h1>Create Account</h1>
<br>
<%= render partial: 'errors/errors', locals: {model: @user} if @user %>
<%= form_for :user, url: '/users' do |f| %>
    Username: <%= f.text_field :username %><br>
    Email: <%= f.text_field :email %><br>
    Password: <%= f.password_field :password %><br>
    Password Confirmation: <%= f.password_field :password_confirmation %><br>
    <%= f.submit "Submit" %>
  <% end %> 

  <% if !logged_in? %>
    <%= button_to "Log In With Google", "/auth/google_oauth2" %>
    <% end %>
