<h4>Review For <%= link_to @job.title, job_path(@job), class: "review_index_title_link" %><br>
 <%= @job.company%> </h4>
<%= display_logo(@job) %>
<br><br>
<% @reviews.each do |review|%>
    <strong><%= link_to review.title, "/reviews/#{review.id}" %></strong><br>
    <%= review.content %><br>
    <strong>Review by <%= review.user.username %></strong><br><br>

    <% end %>