<h4>Review For <%= link_to @review.job.title, job_path(@review.job.id) %> at <%= @review.job.company%> </h4>
<%= display_logo(@review.job) %>
<h5><%= @review.title %></h5>
<strong><%="By #{@review.user.username}"%></strong><br>
<%= @review.content %>

<% if !not_authorized %>
<br><%= button_to 'Edit', edit_review_path(@review), :method => "get" %><br>
<%= button_to "Delete Review", review_path(@review), method: "delete" %>
<% end %>
